.icon-tabler-arrow-down-circle{
    animation:bobarrow .65s infinite;
    position:relative;
}
.link{
    transition:.25s ease;
}
.link:hover{
    color:#FF65DE !important;
}
@keyframes bobarrow{
    0%{
        top:0;
    }
    50%{
        top:1.5em;
    }
    100%{
        top:0;
    }
}
@media (max-width:480px){
    h1{
        font-size:24px !important;
    }
    h2{
        font-size:20px !important;
    }
    h3{
        font-size:18px !important;
    }
    .proj-row{
        flex-direction:column !important;
        width:auto !important;
    }
    .form-container{
        top:0 !important;
    }
    .proj-row > div{
        margin:1em 0 !important;
        height:9em !important;
        width:9em !important;
    }
    .proj-container{
        height:100vh !important;
    }
    .link{
        font-size:18px;
    }
    .nav-link{
        margin:0 .25em !important;
    }
    .nav{
        right:auto !important;
        width:100% !important;
        justify-content: space-evenly !important;
    }
    .top-section-heading{
        padding:1em !important;
        line-height:50px !important;
    }
    .view-more-box{
        top:auto !important;
    }
    .icon-tabler{
        width:40px !important;
        height:40px !important;
    }
    .view-more-text{
        font-size:20px !important;
    }
}