.icon-tabler-arrow-down-circle{
    animation:bobarrow .65s infinite;
    position:relative;
}
.link{
    transition:.25s ease;
}
body{
    background-color:rgb(255, 246, 253);
}
.link:hover{
    color:#FF65DE !important;
}
.icon-row > a{
    margin:0 1em;
}
label{
    font-family:'Source Sans Pro', sans-serif;
}
input{
    font-family:'Montserrat', sans-serif
}
.proj-row > div > img{
   
   height:200px;
}
.about-heading{
    font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.33em;
letter-spacing: 0.015em;
}
.about-heading > span{
    color:#FF65DE;
}

.about-left > p{
    line-height:65px;
    letter-spacing: 0.015em;
    font-family:'Source Sans Pro', sans-serif;
    font-size:1.45em;
}

.about-right >img{
    width:275px;
}
@keyframes bobarrow{
    0%{
        top:0;
    }
    50%{
        top:1.5em;
    }
    100%{
        top:0;
    }
}
@media (max-width:768px){
    .about-container{
        padding:0 2em !important;
    }
}
@media (max-width:480px){
    h1{
        font-size:24px !important;
    }
    h2{
        font-size:20px !important;
    }
    h3{
        font-size:18px !important;
    }
    p{
        font-family:'Source Sans Pro', sans-serif;
    }
    .form-container{
        height:100% !important;
    }
    .icon-row{
        justify-content:center;
    }
    .about-container{
        flex-direction:column !important;
        padding:0 !important;
        margin-top:5em !important;
    }
    .proj-row{
        flex-direction:column !important;
        width:auto !important;
    }
    .form-container{
        top:0 !important;
    }
    .about-right > img{
        width:170px !important; 
    }
    .about-left p{
        line-height:50px !important;
        font-size:1.1em;
    }
    .proj-row > div{
        margin:1em 0 !important;  
    }
    .proj-container{
        height:125vh !important;
    }
    .link{
        font-size:18px;
    }
    .nav-link{
        margin:0 .25em !important;
    }
    .about-left{
        width:85% !important;
    }
    .nav{
        top:0;
        position:absolute;
        left:0;
        display:flex !important;
        justify-content: space-evenly !important;
    }
    .top-section-heading{
        padding:1em !important;
        line-height:50px !important;
    }
    .view-more-box{
        top:auto !important;
    }
    .icon-tabler{
        width:40px !important;
        height:40px !important;
    }
    .view-more-text{
        font-size:20px !important;
    }
}